@page "/add-orders-product"
@layout MainLayout
@inherits Net5Wasm.Pages.AddOrdersProductComponent

@using Radzen
@using Radzen.Blazor
@using Net5Wasm.Models.Net5Wasmconn
@using Microsoft.AspNetCore.Identity;
@using Net5Wasm.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<AddOrdersProduct> L
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@ordersproduct" Visible="@(ordersproduct != null)" TItem="Net5Wasm.Models.Net5Wasmconn.OrdersProduct" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["OrderIdLabel.Text"]" Component="OrderId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getOrdersForOrderIdResult" TextProperty="UserId" ValueProperty="Id" Placeholder="@L["OrderId.Placeholder"]" ShowSearch="false" Count="@getOrdersForOrderIdCount" style="display: block; width: 100%" @bind-Value="@(ordersproduct.OrderId)" Name="OrderId" LoadData="@OrderIdLoadData">
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="OrderId" Text="@L["OrderIdRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["ProductIdLabel.Text"]" Component="ProductId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getProductsForProductIdResult" TextProperty="Name" ValueProperty="Id" Placeholder="@L["ProductId.Placeholder"]" ShowSearch="false" Count="@getProductsForProductIdCount" style="display: block; width: 100%" @bind-Value="@(ordersproduct.ProductId)" Name="ProductId" LoadData="@ProductIdLoadData">
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="ProductId" Text="@L["ProductIdRequiredValidator.Text"]" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["CreatedOnLabel.Text"]" Component="CreatedOn" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="display: block; width: 100%" @bind-Value="@(ordersproduct.CreatedOn)" Name="CreatedOn">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="CreatedOn" Text="@L["CreatedOnRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["ModifiedOnLabel.Text"]" Component="ModifiedOn" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="width: 100%" @bind-Value="@(ordersproduct.ModifiedOn)" Name="ModifiedOn">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["QuantityLabel.Text"]" Component="Quantity" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(ordersproduct.Quantity)" Name="Quantity">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Quantity" Text="@L["QuantityRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="@L["button1.Text"]" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="@L["button2.Text"]" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
