@page "/add-order"
@layout MainLayout
@inherits Net5Wasm.Pages.AddOrderComponent

@using Radzen
@using Radzen.Blazor
@using Net5Wasm.Models.Net5Wasmconn
@using Microsoft.AspNetCore.Identity;
@using Net5Wasm.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<AddOrder> L
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@order" Visible="@(order != null)" TItem="Net5Wasm.Models.Net5Wasmconn.Order" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["IdLabel.Text"]" Component="Id" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="450" style="display: block; width: 100%" @bind-Value="@(order.Id)" Name="Id">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Id" Text="@L["IdRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["CreatedOnLabel.Text"]" Component="CreatedOn" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="display: block; width: 100%" @bind-Value="@(order.CreatedOn)" Name="CreatedOn">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="CreatedOn" Text="@L["CreatedOnRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["ModifiedOnLabel.Text"]" Component="ModifiedOn" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="width: 100%" @bind-Value="@(order.ModifiedOn)" Name="ModifiedOn">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["UserIdLabel.Text"]" Component="UserId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="450" style="display: block; width: 100%" @bind-Value="@(order.UserId)" Name="UserId">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="UserId" Text="@L["UserIdRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["DeliveryAddressIdLabel.Text"]" Component="DeliveryAddressId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getAddressesForDeliveryAddressIdResult" TextProperty="Country" ValueProperty="Id" Placeholder="@L["DeliveryAddressId.Placeholder"]" ShowSearch="false" Count="@getAddressesForDeliveryAddressIdCount" style="display: block; width: 100%" @bind-Value="@(order.DeliveryAddressId)" Name="DeliveryAddressId" LoadData="@DeliveryAddressIdLoadData">
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="DeliveryAddressId" Text="@L["DeliveryAddressIdRequiredValidator.Text"]" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="@L["button1.Text"]" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="@L["button2.Text"]" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
