@page "/orders-products"
@layout MainLayout
@inherits Net5Wasm.Pages.OrdersProductsComponent

@using Radzen
@using Radzen.Blazor
@using Net5Wasm.Models.Net5Wasmconn
@using Microsoft.AspNetCore.Identity;
@using Net5Wasm.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<OrdersProducts> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="@L["pageTitle.Text"]">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="@L["button0.Text"]" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="@L["splitbutton0.Text"]" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="@L["splitbutton0.excel.Text"]" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="@L["splitbutton0.csv.Text"]" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="@L["textbox0.Placeholder"]" style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await grid0.Reload();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getOrdersProductsResult" Count="@getOrdersProductsCount" TItem="Net5Wasm.Models.Net5Wasmconn.OrdersProduct" LoadData="@Grid0LoadData" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="Net5Wasm.Models.Net5Wasmconn.OrdersProduct" Property="OrderId" SortProperty="Order.UserId" FilterProperty="Order.UserId" Title="@L["grid0.OrderId.Title"]">
              <Template Context="data">
              @(data.Order?.UserId)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Net5Wasm.Models.Net5Wasmconn.OrdersProduct" Property="ProductId" SortProperty="Product.Name" FilterProperty="Product.Name" Title="@L["grid0.ProductId.Title"]">
              <Template Context="data">
              @(data.Product?.Name)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Net5Wasm.Models.Net5Wasmconn.OrdersProduct" Property="CreatedOn" FormatString="{0:dd/MM/yyyy}" Title="@L["grid0.CreatedOn.Title"]">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Net5Wasm.Models.Net5Wasmconn.OrdersProduct" Property="ModifiedOn" FormatString="{0:dd/MM/yyyy}" Title="@L["grid0.ModifiedOn.Title"]">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Net5Wasm.Models.Net5Wasmconn.OrdersProduct" Property="Quantity" Title="@L["grid0.Quantity.Title"]">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Net5Wasm.Models.Net5Wasmconn.OrdersProduct" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="net5WasmModelsNet5WasmconnOrdersProduct">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, net5WasmModelsNet5WasmconnOrdersProduct))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
